html,body {
    background-color: #191a1e;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    color: #ffffff;
}
.cat-button {
    margin: 5px;
}

#gif-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gif-div {
    margin: 10px;
}

#add-buttons-form {
    padding-top: 10px;
    padding-left: 10px;
}

#favorites-title {
    padding-top: 10px;
}

#favorites-panel .gif-div {
    padding-top: 10px;
}